<div class="column-container">
  <ng-container
    [ngTemplateOutlet]="answerTemplate"
    *ngIf="!answerAtBottom"
  ></ng-container>
  <button
    *ngFor="let i of columnIds"
    [ngClass]="{
      'unopened-field': !clicked[i],
      'mat-stroked-button': !clicked[i],
      'opened-field': clicked[i],
      'mat-flat-button': clicked[i]
    }"
    [disableRipple]="clicked[i] || rippleDisabled"
    mat-button
    color="accent"
    (click)="fieldClicked.emit(i)"
    [disabled]="disableAll || (disableClickable && !clicked[i])"
    [ngStyle]="{ 'min-height': '15%' }"
  >
    {{ !clicked[i] ? columnName + (i + 1).toString() : hints[i] }}
  </button>
  <ng-container
    [ngTemplateOutlet]="answerTemplate"
    *ngIf="answerAtBottom"
  ></ng-container>
</div>

<ng-template #answerTemplate>
  <div
    class="answer"
    *ngIf="columnAnswered; then answerButtonTemplate; else answerInputTemplate"
  ></div>
</ng-template>

<ng-template #answerInputTemplate>
  <mat-form-field appearance="outline" color="accent">
    <mat-label>{{ answerLabel }}</mat-label>
    <input
      [disabled]="disableAll || disableAnswer"
      matInput
      autocomplete="off"
      [placeholder]="columnAnswerPlaceholder"
      (keydown.enter)="answerEntered.emit(columnAnswer)"
      [(ngModel)]="columnAnswer"
      (keypress)="onKeyPress($event)"
      (focus)="resizeDetectService.setKeyboardOpen(true)"
      (blur)="resizeDetectService.setKeyboardOpen(false)"
    />
  </mat-form-field>
</ng-template>

<ng-template #answerButtonTemplate>
  <button
    class="answer-button mat-flat-button"
    [disableRipple]="true"
    mat-button
    color="accent"
    [disabled]="disableAll"
  >
    {{ columnAnswer }}
  </button>
</ng-template>
