mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  display: flex;
  justify-content: space-between;
  font-size: large;
  align-items: center;
  mat-icon {
    margin-left: 10px;
  }
}

.account-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 40px;
}
.img-div {
  display: flex;
  align-items: center;
  width: 50%;
  height: 50px;
}

img {
  max-height: 50px;
}
