@import "shared";
@import "form-shared";

.settings-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.select-container {
  flex-basis: 35%;
  flex-grow: 1;
}

.button-mode-and-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
}
