<div class="association-container">
  <div class="column-row">
    <app-association-column
      [answerAtBottom]="true"
      columnName="A"
      [gameState]="gameState"
      [columnNumber]="0"
      (fieldClicked)="answerSubmitted.emit($event)"
      [disableAll]="!onTurn.value"
      [clearAnswer]="getClearAnswer()"
    ></app-association-column>
    <app-association-column
      [answerAtBottom]="true"
      columnName="B"
      [gameState]="gameState"
      [columnNumber]="1"
      (fieldClicked)="answerSubmitted.emit($event)"
      [disableAll]="!onTurn.value"
      [clearAnswer]="getClearAnswer()"
    ></app-association-column>
  </div>
  <div
    class="final-answer"
    *ngIf="associationAnswered; then finalAnswerButton; else finalAnswerInput"
  ></div>
  <div class="column-row">
    <app-association-column
      [answerAtBottom]="false"
      columnName="C"
      [gameState]="gameState"
      [columnNumber]="2"
      (fieldClicked)="answerSubmitted.emit($event)"
      [disableAll]="!onTurn.value"
      [clearAnswer]="getClearAnswer()"
    ></app-association-column>
    <app-association-column
      [answerAtBottom]="false"
      columnName="D"
      [gameState]="gameState"
      [columnNumber]="3"
      (fieldClicked)="answerSubmitted.emit($event)"
      [disableAll]="!onTurn.value"
      [clearAnswer]="getClearAnswer()"
    ></app-association-column>
  </div>
  <app-button
    buttonWidth="100%"
    buttonText="Dalje"
    [buttonDisabled]="!onTurn.value"
    (buttonClicked)="answerSubmitted.emit(getNullAnswer())"
  ></app-button>
</div>

<ng-template #finalAnswerInput>
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Konačno rešenje</mat-label>
    <input
      [disabled]="!onTurn.value"
      [(ngModel)]="finalAnswerValue"
      matInput
      autocomplete="off"
      placeholder="Konačno rešenje"
      (keydown.enter)="answerSubmitted.emit(getFinalAnswer())"
      (focus)="resizeDetectService.setKeyboardOpen(true)"
      (blur)="resizeDetectService.setKeyboardOpen(false)"
    />
  </mat-form-field>
</ng-template>

<ng-template #finalAnswerButton>
  <button
    class="answer-button mat-flat-button"
    [disableRipple]="true"
    mat-button
    color="accent"
    [disabled]="!onTurn.value"
  >
    {{ finalAnswerValue }}
  </button>
</ng-template>
