<mat-form-field [appearance]="appearance" #matFormField>
  <mat-label [innerText]="label"></mat-label>
  <ng-container
    *ngIf="formInputType !== formInputTypesProvider.formInputTypes.textArea"
  >
    <input
      (keydown)="inputChanged.emit(null)"
      matInput
      [maxlength]="maxLength"
      [placeholder]="placeholder"
      [formControl]="inputFormControl"
      [autocomplete]="autocomplete"
      [type]="formInputType"
      [name]="name"
      (focus)="onFocus(matFormField)"
      (blur)="onBlur()"
    />
  </ng-container>
  <ng-container
    *ngIf="formInputType === formInputTypesProvider.formInputTypes.textArea"
  >
    <textarea
      matInput
      cdkTextareaAutosize
      [cdkAutosizeMinRows]="textAreaRows"
      [cdkAutosizeMaxRows]="textAreaRows"
      [maxlength]="maxLength"
      [placeholder]="placeholder"
      [formControl]="inputFormControl"
      [autocomplete]="autocomplete"
      [name]="name"
    ></textarea>
  </ng-container>
  <mat-hint [innerText]="hint"></mat-hint>
  <mat-error *ngIf="inputFormControl.invalid && inputFormControl.touched">
    {{
      getValidationErrorMessage(inputValidationErrorMessages, inputFormControl)
    }}
  </mat-error>
</mat-form-field>
