<app-mat-card
  [titleTemplate]="titleTemplate"
  [contentTemplate]="contentTemplate"
>
</app-mat-card>

<ng-template #titleTemplate>Aktivne sobe</ng-template>

<ng-template #contentTemplate>
  <div class="subtitle">
    <div class="name">Naziv:</div>
    <div class="player-count">Igrači:</div>
  </div>
  <app-classic-list
    [height]="windowResizeDetectionService.screenHeight$.value * 0.4"
    [items]="rooms"
    [listItemTemplate]="listItemTemplate"
  ></app-classic-list>
</ng-template>

<ng-template #listItemTemplate let-listItem="listItem">
  <div
    class="list-item"
    [style.max-width.px]="
      windowResizeDetectionService.screenWidth$.value * 0.35 > 300
        ? windowResizeDetectionService.screenWidth$.value * 0.35 - 65
        : 235
    "
  >
    <div class="multiline">{{ listItem.roomName }}</div>
    <div class="button-and-number-of-players">
      <span>{{ listItem.numberOfPlayersJoined }}/4</span>
      <button
        mat-flat-button
        color="accent"
        (click)="roomJoin.emit(listItem.roomId)"
      >
        Pridruži se
      </button>
    </div>
  </div>
</ng-template>
