/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("../assets/Back-overlay.png"), url("../assets/back.png"),
    url("../assets/Solid-back.png");
  background-repeat: no-repeat no-repeat no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html {
  scrollbar-width: thin;
  scrollbar-color: rgb(128, 28, 164) rgb(148, 72, 207);
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(128, 28, 164);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(148, 72, 207);
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.dark-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.full-dark-backdrop {
  background-color: rgba(0, 0, 0, 1);
}

@font-face {
  font-family: CustomMolot;
  src: url("../assets/Molot.otf") format("opentype");
}

app-header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 1000;
  margin-bottom: 500px;
}
