.user {
  transform: scale(2);
}
.user-container {
  width: 100%;
  display: flex;
  align-items: center;
  height: fit-content;
}

.username-and-stats {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  align-items: center;
  justify-self: center;
}

.icon-container {
  text-align: center;
}

h3 {
  margin: 0px;
  margin-bottom: 3px;
}

h2 {
  margin: 0;
}

.no-timer-container {
  display: flex;
  align-items: center;
  margin: auto;
}

.red-user {
  color: #ce3045;
}

.green-user {
  color: #8dc63f;
}

.blue-user {
  color: #007bbf;
}

.yellow-user {
  color: #ffcb05;
}

